.rui-subbar-wrapper{
  display: flex;
  border-bottom: 1px solid black;


  .rui-subbar-item{
    padding: 5px;

    a:hover, a.active{
      background: $main-item-bg-active;
      color: $main-item-font-active;
    }
  }
}