.rui-profile-wrap{
  box-shadow: 0 5px 5px #e1e1e1;
  border-top: 8px solid #5bc3fa;
  border-radius: 10px;
  margin-left:0 !important;
  margin-right:0 !important;
}

.rui-profile-avatar{
  margin: auto auto;
  border: 5px solid white;
  border-radius: 50%;
  box-shadow: 1px 1px 8px #919191;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;

  img{
    width: 100%;
    border-radius: 50%;
  }
}

.rui-profile-info{
  border-left: 1px solid #e1e1e1;

  b{
    margin:5px 0;
    font-size: 20px;
    display: inline-block;
  }
}