.rui-manage-create-shop {
  width: 60%;
  margin: 20px auto;

  .template-radio-item{
    padding: 10px;
    padding-top: 8px;
    position: relative;
    left: -35px;
    top: -10px;
    display: inline-block;
    width: 200px;
    border: 1px solid rgba(255, 255, 255, 0);

    .radio-name{
      padding-left: 30px;
      font-weight: 600;
    }

    img{
      width: 100%;
      margin-top: 5px;
    }
  }

  .ant-radio-wrapper-checked .template-radio-item{
    border: 1px solid #aac5f0;
    box-shadow: 0 0 5px #bababa;
  }

  .ant-radio{
    vertical-align: top;
  }
}
