.rui-manage-create-shop {
  width: 500px;
  margin: 20px auto;
  
  .template-demo {
    
    img {
      width: 100%;
      border: 2px solid white;
      box-shadow: 0 0 5px #a2a2a2;
      margin-bottom: 20px;
    }
  }
}
