$subbar-item-1: #436e97;
$subbar-item-2: #739cc3;
$subbar-item-3: #a2b8cd;
$subbar-item-hover: #7780af;

.rui-subbar-wrapper{
  display: flex;
  margin-bottom: 20px;
  margin-top: -10px;

  .rui-subbar-item{
    a{
      padding: 18px 30px;
      padding-right: 25px;
      color: $main-item-font-active;
      position: relative;
      background: blue;
      font-weight: bold;
      transition: padding 0.2s;
    }

    svg{
      margin: -2px 8px;
      font-size: 18px;
    }

    a.active{
      padding: 18px 100px;
      transition: padding 0.2s ease-out;
    }

    

    a::after{
      content: "";
      width: 0;
      height: 0;
      border: 28px solid transparent;
      border-left: 26px solid white;
      position: absolute;
      right: -54px;
      top: 0px;
      z-index: 1;
    }

    &:nth-child(1) a{
      background: $subbar-item-1;
      &::after{
        border-left-color: $subbar-item-1;
      }
    }

    &:nth-child(2) a{
      background: $subbar-item-2;
      &::after{
        border-left-color: $subbar-item-2;
      }
    }

    &:nth-child(3) a{
      background: $subbar-item-3;
      &::after{
        border-left-color: $subbar-item-3;
      }
    }

    &:hover a{
      background: $subbar-item-hover;
      &::after{
        border-left-color: $subbar-item-hover;
      }
    }
  }
}