.ant-list-item-meta-title{
  font-weight: bold;
  font-size: 16px;
}

.ant-list-item-meta-avatar{
  margin-top:10px;
}

.transfer-item-wrap{
  .ant-list-item{
    border-bottom: 1px solid #ececec;
    padding: 0;
    margin-bottom: 15px;
    padding-bottom: 5px;
    
    .ant-input-number{
      width: 90px;
    }
  }
}