.rui-home-sec2{
  .item-wrap{
    text-align: center;
    padding: 20px 30px;
    color: #577791;

    .icon{
      font-size: 100px;
    }

    .content{
      font-size: 20px;
      padding: 0 40px;
    }
  }
}