.rui-subbar-title{
  font-weight: bold;
  font-size: 25px;
  border-bottom: 1px solid #8ea4ac61;
  padding-bottom: 5px;
}

.rui-subbar-menu{
  margin-top: 20px;


  .rui-subbar-item {
    display: flex;

    a{
      padding: 10px 16px;
      width: 100%;
      color: #919191;
      font-size: 16px;
      border-left: 4px solid white;
      
      &:hover{
        color: #3ca9dd;
        transition: color 0.3s;
      }

      &.active{
        color: #3ca9dd;
        border-left: 4px solid #3ca9dd;
        transition: box-shadow 0.3s;
        transition: border-left 0.3s;
      }
    }
  }
}